# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
apify_storage
crawlee_storage
storage
.DS_Store

!package.json
!tsconfig.json

# any output from the crawler
*.json
.env
pnpm-lock.yaml

.specstory
crawled
example_html
example_html2
old_crawled
reporting
